*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.traffic-light{
    height:80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.light-red{
    width: 200px;
    height: 200px;
    background-color: red;
    border: 10px solid darkred;
}

.light-yellow{
    width: 200px;
    height: 200px;
    background-color: yellow;
    border: 10px solid gold;
}

.light-green{
    width: 200px;
    height: 200px;
    background-color: green;
    border: 10px solid darkgreen;
}